In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Open file
file_to_open = 'detailed_all_game_results.csv'
game_results_df = pd.read_csv(file_to_open)

game_results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%,WFT%,LFT%
0,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
1,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
2,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
3,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
4,2003,136,1112,80,1436,51,N,0,31,66,...,2003-19.0-1112,2003-19.0-1436,1.0,166.0,0.469697,0.312500,0.304348,0.250000,0.785714,1.000000

In [3]:
# View columns
game_results_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType', 'WeekNum', 'WSeason-Week-Team', 'LSeason-Week-Team',
       'WOrdinalRank', 'LOrdinalRank', 'WFG%', 'LFG%', 'WFG3%', 'LFG3%',
       'WFT%', 'LFT%'],
      dtype='object')

In [4]:
# Filter for just tournament games
tourney_df = game_results_df[game_results_df['GameType'] == 'Tournament']

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%,WFT%,LFT%
0,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
1,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
2,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
3,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
4,2003,136,1112,80,1436,51,N,0,31,66,...,2003-19.0-1112,2003-19.0-1436,1.0,166.0,0.469697,0.312500,0.304348,0.250000,0.785714,1.000000

In [7]:
# Get the differences in scores for each game
tourney_df['Spread'] = tourney_df['WScore'] - tourney_df['LScore']

tourney_df.head()

C:\Users\z002cr1\AppData\Local\Temp\1\ipykernel_23352\1996697194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourney_df['Spread'] = tourney_df['WScore'] - tourney_df['LScore']

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%,WFT%,LFT%,Spread
0,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1411,252.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613,8
1,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1411,252.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613,8
2,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1411,251.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613,8
3,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1411,251.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613,8
4,2003,136,1112,80,1436,51,N,0,31,66,...,2003-19.0-1436,1.0,166.0,0.469697,0.312500,0.304348,0.250000,0.785714,1.000000,29

In [9]:
# Get the largest spread
tourney_df.sort_values(by=['Spread'], ascending=False)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%,WFT%,LFT%,Spread
1540,2009,136,1163,103,1151,47,N,0,37,71,...,2009-19.0-1151,3.0,209.0,0.521127,0.257576,0.250000,0.200000,0.589744,0.800000,56
1541,2009,136,1163,103,1151,47,N,0,37,71,...,2009-19.0-1151,3.0,208.0,0.521127,0.257576,0.250000,0.200000,0.589744,0.800000,56
1542,2009,136,1163,103,1151,47,N,0,37,71,...,2009-19.0-1151,3.0,209.0,0.521127,0.257576,0.250000,0.200000,0.589744,0.800000,56
1543,2009,136,1163,103,1151,47,N,0,37,71,...,2009-19.0-1151,3.0,208.0,0.521127,0.257576,0.250000,0.200000,0.589744,0.800000,56
2652,2013,136,1393,81,1285,34,N,0,27,52,...,2013-19.0-1285,12.0,134.0,0.519231,0.203704,0.454545,0.129032,0.709677,0.666667,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4447,2019,146,1277,68,1181,67,N,0,30,70,...,2019-19.0-1181,4.0,1.0,0.428571,0.456140,0.315789,0.333333,0.333333,0.615385,1
4446,2019,146,1277,68,1181,67,N,0,30,70,...,2019-19.0-1181,4.0,3.0,0.428571,0.456140,0.315789,0.333333,0.333333,0.615385,1
4445,2019,146,1277,68,1181,67,N,0,30,70,...,2019-19.0-1181,5.0,1.0,0.428571,0.456140,0.315789,0.333333,0.333333,0.615385,1
4444,2019,146,1277,68,1181,67,N,0,30,70,...,2019-19.0-1181,5.0,3.0,0.428571,0.456140,0.315789,0.333333,0.333333,0.615385,1
3097,2014,145,1458,64,1112,63,N,1,24,61,...,2014-19.0-1112,10.0,1.0,0.393443,0.389831,0.352941,0.416667,0.833333,0.705882,1