In [1]:
# Importing Dependancies 
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
# importing ranking csv
conferences_df = pd.read_csv("Resources/MTeamConferences.csv")
conferences_df

       Season  TeamID ConfAbbrev
0        1985    1102        wac
1        1985    1103        ovc
2        1985    1104        sec
3        1985    1106       swac
4        1985    1108       swac
...       ...     ...        ...
12294    2022    1468      a_sun
12295    2022    1469        wac
12296    2022    1470        wac
12297    2022    1471   big_west
12298    2022    1472     summit

[12299 rows x 3 columns]

In [3]:
#Saving column names 
conferences_cols = conferences_df.columns
conferences_cols

Index(['Season', 'TeamID', 'ConfAbbrev'], dtype='object')

In [4]:
#checking for objects in data
# NOTE TO TEAM: SystemName is an object 
conferences_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12299 entries, 0 to 12298
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      12299 non-null  int64
 1   TeamID      12299 non-null  int64
 2   ConfAbbrev  12299 non-null  object
dtypes: int64(2), object(1)
memory usage: 288.4+ KB

In [ ]:
# conferences are ready to go!