In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
all_game_path = 'Resources/all_game_results.csv'

In [3]:
# Read in CSV
New_df = pd.read_csv(all_game_path)
New_df

,Unnamed: 0,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203203,1176,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
203204,1177,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
203205,1178,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
203206,1179,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
203207,1180,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17

In [4]:
dropped_all_game_df = New_df.drop(columns='Unnamed: 0')

In [5]:
dropped_all_game_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203203,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
203204,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
203205,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
203206,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
203207,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17

In [6]:
# Season_2014_df = dropped_all_game_df.loc[dropped_all_game_df['Season']== 2016]

In [7]:
# Season_2014_df

In [8]:
team1_df = dropped_all_game_df[dropped_all_game_df['TeamID']==1103]

In [9]:
team1_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
361,2003,26,1103,88,W,0,32,65,6,12,18,26,14,25,16,12,1,1,19
817,2003,37,1103,85,W,0,28,51,6,15,23,27,7,21,15,15,8,0,16
1093,2003,47,1103,97,W,0,35,63,4,13,23,35,10,28,23,15,11,3,31
1276,2003,54,1103,84,W,0,25,58,4,14,30,40,13,20,16,16,8,2,20
1581,2003,61,1103,105,W,1,32,57,3,12,38,53,10,16,21,7,7,0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199570,2022,74,1103,55,L,0,19,54,4,24,13,18,7,18,6,10,6,2,15
200292,2022,88,1103,76,L,0,28,64,7,25,13,23,11,18,15,9,6,2,17
202414,2009,136,1103,64,L,0,21,57,10,23,12,18,11,15,15,8,0,1,23
202568,2011,137,1103,56,L,0,23,64,7,21,3,6,8,24,10,8,6,4,21
202691,2013,136,1103,42,L,0,15,43,1,13,11,19,9,20,5,22,2,6,12

In [10]:
team2_df = dropped_all_game_df[dropped_all_game_df['TeamID']==1102]
team2_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
246,2003,22,1102,72,W,0,26,46,15,28,5,7,5,22,19,9,6,8,13
339,2003,25,1102,57,W,0,16,36,7,20,18,22,3,24,10,10,5,3,20
612,2003,31,1102,65,W,0,23,40,18,33,1,7,5,14,20,7,7,5,16
763,2003,34,1102,70,W,0,24,42,12,24,10,17,5,12,20,10,9,1,13
816,2003,37,1102,85,W,0,26,41,12,23,21,32,4,12,21,5,5,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200294,2022,88,1102,61,L,0,25,46,5,20,6,11,4,20,10,12,4,4,25
200507,2022,92,1102,46,L,0,18,50,2,15,8,11,0,13,11,9,10,0,19
200720,2022,96,1102,77,L,0,26,57,7,21,18,24,5,19,14,9,3,2,18
202100,2004,136,1102,52,L,0,17,39,8,25,10,13,2,19,15,16,7,2,15
202226,2006,136,1102,69,L,0,21,41,13,27,14,18,1,14,15,11,7,1,13

# Random balanced Fores

In [11]:
# Create our features
team1 = team1_df.drop(columns='Outcome')
team1_dummies_df = pd.get_dummies(team1)


# Create our target
team1_outcome_df = team1_df['Outcome']

In [12]:
# Check the balance of our target values
print(team1_outcome_df.value_counts())

W    393
L    216
Name: Outcome, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(team1_dummies_df, 
                                                    team1_outcome_df, 
                                                    random_state=1)
print(X_train.shape)
print(Counter(y_train))
print(Counter(y_test))
print(y_train.shape)

(456, 18)
Counter({'W': 300, 'L': 156})
Counter({'W': 93, 'L': 60})
(456,)

In [14]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf_model.fit(X_train, y_train)
Counter(y_train)

Counter({'L': 156, 'W': 300})

In [15]:
# Calculated the balanced accuracy score
y_pred = rf_model.predict(X_test)
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test,y_pred)

0.828763440860215

In [16]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[53,  7],
       [21, 72]], dtype=int64)

In [17]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          L       0.72      0.88      0.77      0.79      0.83      0.69        60
          W       0.91      0.77      0.88      0.84      0.83      0.68        93

avg / total       0.83      0.82      0.84      0.82      0.83      0.68       153

# 2 Test

In [24]:
team2 = team2_df.drop(columns='Outcome')
team2_dummies_df = pd.get_dummies(team2)
team2_outcome_df = team2_df['Outcome']
print(team2_outcome_df.value_counts())

L    311
W    258
Name: Outcome, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(team2_dummies_df, 
                                                    team2_outcome_df, 
                                                    random_state=1)
print(X_train2.shape)
print(Counter(y_train2))
print(Counter(y_test2))
print(y_train2.shape)

(426, 18)
Counter({'L': 234, 'W': 192})
Counter({'L': 77, 'W': 66})
(426,)

In [26]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model2 = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf_model2.fit(X_train2, y_train2)
Counter(y_train2)

Counter({'L': 234, 'W': 192})

In [27]:
y_pred2 = rf_model2.predict(X_test2)
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test2,y_pred2)

0.8658008658008658

In [28]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test2, y_pred2)

array([[68,  9],
       [10, 56]], dtype=int64)

In [29]:
print(classification_report_imbalanced(y_test2, y_pred2))

                   pre       rec       spe        f1       geo       iba       sup

          L       0.87      0.88      0.85      0.88      0.87      0.75        77
          W       0.86      0.85      0.88      0.85      0.87      0.75        66

avg / total       0.87      0.87      0.86      0.87      0.87      0.75       143