In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
all_game_path = 'Resources/all_game_results.csv'

In [3]:
# Read in CSV
New_df = pd.read_csv(all_game_path)
New_df

,Unnamed: 0,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203203,1176,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
203204,1177,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
203205,1178,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
203206,1179,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
203207,1180,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17

In [4]:
dropped_all_game_df = New_df.drop(columns='Unnamed: 0')

In [5]:
dropped_all_game_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203203,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
203204,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
203205,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
203206,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
203207,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17

In [45]:
Season_2014_df = dropped_all_game_df.loc[dropped_all_game_df['Season']== [2015, 2016]]

ValueError: ('Lengths must match to compare', (203208,), (2,))

In [42]:
Season_2014_df

Empty DataFrame
Columns: [Season, DayNum, TeamID, Score, Outcome, NumOT, FGM, FGA, FGM3, FGA3, FTM, FTA, OR, DR, Ast, TO, Stl, Blk, PF]
Index: []

In [28]:
team1_df = Season_2014_df[Season_2014_df['TeamID']==1101]

In [29]:
team1_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
61571,2015,31,1101,72,W,0,23,45,7,17,19,24,10,24,17,17,2,0,23
62215,2015,49,1101,65,W,0,23,54,8,24,11,18,7,19,14,14,7,0,21
62295,2015,50,1101,69,W,0,24,45,10,20,11,16,6,23,15,18,7,2,21
62692,2015,62,1101,87,W,0,29,54,11,18,18,22,8,25,16,14,7,0,19
62905,2015,68,1101,71,W,0,22,58,9,25,18,21,14,29,11,15,7,3,15
63083,2015,71,1101,95,W,0,34,59,16,27,11,12,7,22,17,9,6,0,23
65392,2015,120,1101,83,W,0,34,56,7,14,8,9,5,13,20,6,8,2,20
161255,2015,16,1101,39,L,0,15,55,5,22,4,7,13,17,12,13,9,2,22
161369,2015,19,1101,81,L,0,25,62,6,14,25,32,11,19,11,11,6,1,26
161803,2015,26,1101,56,L,0,19,53,7,16,11,13,7,14,10,12,10,3,15
162056,2015,33,1101,59,L,0,22,67,8,31,7,8,17,23,14,10,4,2,20
162436,2015,44,1101,44,L,0,14,55,6,22,10,12,8,9,7,10,10,0,18
162524,2015,47,1101,33,L,0,11,55,6,19,5,6,11,11,4,9,4,0,12
162801,2015,55,1101,81,L,0,31,59,9,22,10,16,4,19,11,11,4,2,27
163759,2015,75,1101,64,L,0,21,54,8,16,14,17,8,17,15,11,4,2,17
163856,2015,78,1101,56,L,0,17,53,7,20,15,24,7,32,9,12,6,1,29
164042,2015,82,1101,61,L,0,22,45,4,16,13,21,5,15,12,14,7,4,20
164173,2015,84,1101,63,L,0,23,43,8,16,9,21,4,18,17,12,3,1,23
164375,2015,89,1101,74,L,0,28,57,10,22,8,15,6,21,14,12,6,0,27
164487,2015,91,1101,61,L,0,24,59,4,16,9,12,11,15,9,14,9,0,15
164754,2015,96,1101,52,L,0,20,58,9,26,3,4,10,21,10,11,4,2,14
164820,2015,98,1101,61,L,0,18,48,9,18,16,20,14,18,11,21,5,5,23
165159,2015,105,1101,49,L,0,18,39,7,17,6,12,5,22,12,18,2,1,23
165408,2015,110,1101,54,L,0,18,41,6,15,12,16,7,20,9,19,6,0,21
165506,2015,113,1101,44,L,0,17,48,5,15,5,7,3,20,9,14,6,0,26
165721,2015,117,1101,55,L,0,20,51,6,14,9,13,9,16,13,12,9,0,22
165906,2015,122,1101,52,L,0,19,61,3,15,11,12,7,23,6,7,5,0,19
166056,2015,124,1101,27,L,0,9,48,2,20,7,9,7,25,7,13,3,0,16

In [30]:
team2_df = Season_2014_df[Season_2014_df['TeamID']==1102]
team2_df

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
60630,2015,12,1102,68,W,0,24,43,9,20,11,14,12,22,17,18,3,2,22
61502,2015,30,1102,59,W,0,20,53,5,24,14,25,23,24,13,9,7,3,16
61739,2015,35,1102,77,W,0,27,50,9,25,14,17,9,22,21,13,6,4,16
61828,2015,40,1102,80,W,0,26,43,11,21,17,24,10,21,19,14,9,0,16
62216,2015,49,1102,66,W,1,22,45,10,23,12,18,1,30,17,10,1,8,12
62790,2015,65,1102,78,W,0,33,54,8,17,4,8,5,27,23,11,6,1,13
63779,2015,86,1102,66,W,0,19,45,7,16,21,25,9,24,13,10,6,1,18
64109,2015,93,1102,53,W,0,19,47,7,26,8,14,6,22,16,8,8,3,14
64228,2015,96,1102,73,W,0,28,49,10,20,7,8,6,26,18,9,7,2,17
64559,2015,103,1102,76,W,0,25,59,12,25,14,21,11,16,24,5,7,1,12
65088,2015,114,1102,75,W,0,23,43,6,12,23,33,7,22,18,14,5,3,21
65705,2015,128,1102,68,W,0,24,50,8,21,12,16,7,18,16,11,9,1,19
160945,2015,11,1102,78,L,0,31,62,6,19,10,15,15,17,14,18,8,6,21
161544,2015,22,1102,53,L,0,18,55,4,20,13,20,10,17,11,10,10,4,20
161854,2015,27,1102,62,L,0,23,47,8,18,8,9,8,18,9,18,12,4,19
162593,2015,47,1102,75,L,0,26,62,7,27,16,21,13,21,14,9,4,1,21
162939,2015,58,1102,49,L,0,19,43,1,11,10,13,7,27,5,17,6,3,14
163065,2015,61,1102,62,L,0,23,50,6,20,10,18,9,16,12,9,8,0,24
163349,2015,68,1102,87,L,0,30,63,16,35,11,19,8,22,25,5,5,1,23
163568,2015,72,1102,48,L,0,16,46,6,22,10,16,7,15,11,12,9,0,19
163783,2015,75,1102,59,L,0,22,53,9,22,6,11,12,21,13,10,6,2,16
163860,2015,78,1102,45,L,0,18,45,3,18,6,12,6,13,9,12,6,2,16
164004,2015,82,1102,68,L,0,28,51,6,18,6,7,8,17,17,13,4,1,16
164455,2015,89,1102,63,L,0,23,52,10,22,7,8,12,20,12,15,1,1,19
164863,2015,100,1102,42,L,0,17,41,4,16,4,14,5,18,9,14,4,0,15
165325,2015,110,1102,53,L,0,22,51,7,16,2,7,5,21,14,15,8,1,20
165769,2015,117,1102,60,L,0,25,62,4,21,6,14,11,22,10,7,7,1,22
165852,2015,121,1102,66,L,0,28,61,5,20,5,10,6,25,18,8,6,0,16
166165,2015,129,1102,68,L,0,26,47,4,12,12,17,7,19,14,16,5,1,20

# Random balanced Fores

In [31]:
# Create our features
team1 = team1_df.drop(columns='Outcome')
team1_dummies_df = pd.get_dummies(team1)


# Create our target
team1_outcome_df = team1_df['Outcome']

In [32]:
team2 = team2_df.drop(columns='Outcome')
team2_dummies_df = pd.get_dummies(team2_df)
team2_outcome_df = team2_df['Outcome']

In [33]:
# Check the balance of our target values
print(team1_outcome_df.value_counts())
print(team2_outcome_df.value_counts())

L    21
W     7
Name: Outcome, dtype: int64
L    17
W    12
Name: Outcome, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(team1_dummies_df, 
                                                    team1_outcome_df, 
                                                    random_state=1)
print(X_train.shape)
print(Counter(y_train))
print(Counter(y_test))
print(y_train.shape)

(21, 18)
Counter({'L': 15, 'W': 6})
Counter({'L': 6, 'W': 1})
(21,)

In [35]:
from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(team2_dummies_df, 
                                                    team2_outcome_df, 
                                                    random_state=1)
print(X_train2.shape)
print(Counter(y_train2))
print(Counter(y_test2))
print(y_train2.shape)

(21, 20)
Counter({'L': 11, 'W': 10})
Counter({'L': 6, 'W': 2})
(21,)

In [36]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf_model.fit(X_train, y_train)
Counter(y_train)

Counter({'L': 15, 'W': 6})

In [37]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model2 = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf_model2.fit(X_train2, y_train2)
Counter(y_train2)

Counter({'L': 11, 'W': 10})

In [38]:
# Calculated the balanced accuracy score
y_pred = rf_model.predict(X_test)
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test,y_pred)

0.8333333333333333

In [39]:
y_pred2 = rf_model2.predict(X_test2)
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test2,y_pred2)

1.0

In [20]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[2, 4],
       [0, 0]], dtype=int64)

In [21]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test2, y_pred2)

array([[6, 0],
       [0, 1]], dtype=int64)

In [22]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          L       1.00      0.33      0.00      0.50      0.00      0.00         6
          W       0.00      0.00      0.33      0.00      0.00      0.00         0

avg / total       1.00      0.33      0.00      0.50      0.00      0.00         6

C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Specificity is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Specificity is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Specificity is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Specificity is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gkmb2\anaconda3\envs\ml2env\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Sensitivity is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
print(classification_report_imbalanced(y_test2, y_pred2))

                   pre       rec       spe        f1       geo       iba       sup

          L       1.00      1.00      1.00      1.00      1.00      1.00         6
          W       1.00      1.00      1.00      1.00      1.00      1.00         1

avg / total       1.00      1.00      1.00      1.00      1.00      1.00         7