In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
all_game_path = 'Resources/all_game_results.csv'

In [25]:
# Read in CSV
New_df = pd.read_csv(all_game_path)
New_df

,Unnamed: 0,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203203,1176,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
203204,1177,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
203205,1178,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
203206,1179,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
203207,1180,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17

In [24]:
team_1101 = New_df.groupby(['TeamID'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [26]:
team_1101.loc[team_1101['TeamID']=='1104']

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

# Random balanced Fores

In [5]:
# Create our features
X = df.drop(columns='Outcome')
X = pd.get_dummies(X)

# Create our target
y = df['Outcome']

NameError: name 'df' is not defined

In [ ]:
# Check the balance of our target values
y.value_counts()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape
print(Counter(y_train))
print(Counter(y_test))
print(y_train.shape)

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf_model.fit(X_train, y_train)
Counter(y_train)

In [ ]:
# Calculated the balanced accuracy score
y_pred = rf_model.predict(X_test)
from sklearn.metrics import accuracy_score
balanced_accuracy_score(y_test,y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))