In [1]:
# Importing Dependancies 
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
# importing ranking csv
cities_df = pd.read_csv("Resources/MTeams.csv")
cities_df

     TeamID      TeamName  FirstD1Season  LastD1Season
0      1101   Abilene Chr           2014          2022
1      1102     Air Force           1985          2022
2      1103         Akron           1985          2022
3      1104       Alabama           1985          2022
4      1105   Alabama A&M           2000          2022
..      ...           ...            ...           ...
367    1468    Bellarmine           2021          2022
368    1469      Dixie St           2021          2022
369    1470   Tarleton St           2021          2022
370    1471  UC San Diego           2021          2022
371    1472  St Thomas MN           2022          2022

[372 rows x 4 columns]

In [4]:
#Saving column names 
cities_cols = cities_df.columns
cities_cols

Index(['TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season'], dtype='object')

In [5]:
#checking for objects in data
# NOTE TO TEAM: SystemName is an object 
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamID         372 non-null    int64
 1   TeamName       372 non-null    object
 2   FirstD1Season  372 non-null    int64
 3   LastD1Season   372 non-null    int64
dtypes: int64(3), object(1)
memory usage: 11.8+ KB

In [6]:
# cities are ready to go!