In [1]:
# Importing Dependancies 
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
# importing ranking csv
rankings_df = pd.read_csv("Resources/MMasseyOrdinals.csv")
rankings_df

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
0          2003             35        SEL    1102          159
1          2003             35        SEL    1103          229
2          2003             35        SEL    1104           12
3          2003             35        SEL    1105          314
4          2003             35        SEL    1106          260
...         ...            ...        ...     ...          ...
4521715    2022            100        WOL    1468          183
4521716    2022            100        WOL    1469          259
4521717    2022            100        WOL    1470          209
4521718    2022            100        WOL    1471          270
4521719    2022            100        WOL    1472          296

[4521720 rows x 5 columns]

In [4]:
#Saving column names 
rankings_cols = rankings_df.columns
rankings_cols

Index(['Season', 'RankingDayNum', 'SystemName', 'TeamID', 'OrdinalRank'], dtype='object')

In [6]:
#checking for objects in data
# NOTE TO TEAM: SystemName is an object 
rankings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521720 entries, 0 to 4521719
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Season         int64
 1   RankingDayNum  int64
 2   SystemName     object
 3   TeamID         int64
 4   OrdinalRank    int64
dtypes: int64(4), object(1)
memory usage: 172.5+ MB

In [10]:
#checking for null values
# All clear!
rankings_df.isnull().sum()

Season           0
RankingDayNum    0
SystemName       0
TeamID           0
OrdinalRank      0
dtype: int64

In [ ]:
# Rankings are ready to go!